<ul class="app_links">
    <li>
      <a [routerLink]="['']">Home</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>

    <li class="tel">
      <a href="tel:20-120-181-4883">20-120-181-4883</a>
    </li>
  </ul>
<div class="nav__wrapper">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <div id="logo">
            <img src="/assets/images/logo_150.png" alt="ECHO STORE LOGO">
          </div>

          <div id="search_input__container">
            <form class="input_wrapper" #f="ngForm" (ngSubmit)="search(f.value)">
                <input type="text" [(ngModel)]="searchText"  name="searchText" required placeholder="Search for computers by computer's name or company name..">
                <button class="icon_search_wrapper" type="submit">
                  <span class="icon-search"></span>
                </button>
            </form>
          </div>
          <ul class="social_links">
            <li>
              <a href="https://www.linkedin.com/in/ahmed-atef-73b3b5b9/" target="_blank">LinkedIn</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>
</div>
