#sidebar_wrapper {
    .filter_box {
        display: flex;
        flex-direction: column;

        .input_box {
            display: flex;
            align-items: center;

            label {
                margin: 0rem;
                margin-left: 1rem;
            }
        }
    }
}